#projects {
  background-color: #45567D;
  font-size: 40px;
  font-weight: bold;
  height: fit-content;
  padding-top: 50px;
  text-align: center;

  #list {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;

    .project-tile {
      background-color: #FFFFFF;
      color: red;
      height: 300px;
      margin: 10px;
      text-decoration: none;
      width: 300px;

      &:hover {
        transform: scale(1.1, 1.1);
        transition-duration: 0.5s;
      }
    }
  }
}