#information {
  background-color: #2b2c2f;
  padding: 2rem 1rem;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #information-container {
    margin: 0 auto;
    max-width: 960px;

    h1 {
      font-size: 2.5rem;
      font-family: "Loew Heavy", sans-serif;
    }

    #places {
      margin-top: 2rem;
      font-size: 1.5rem;
      letter-spacing: 2px;
    }

    #contact {
      margin: 1.5rem 0;

      a::before {
        display: inline;
        padding-right: 5px;
      }

      .contact-item {
        color: #40e0d0;
        font-size: 3rem;
        text-shadow: 2px 2px 8px #000000;
        text-decoration: none;

        &:hover {
          color: #ff1493;
        }
      }

      #facebook {
        i::before {
          content: "\f09a";
        }
      }

      #instagram {
        margin-left: 3rem;
        i::before {
          content: "\f16d";
        }
      }

      #github {
        margin-left: 3rem;
        i::before {
          content: "\f09b";
        }
      }

      #twitter {
        margin-left: 3rem;
        i::before {
          content: "\f099";
        }
      }
    }

    #email {
      font-size: 1.5rem;

      a {
        color: #fff;
        text-decoration: underline #40e0d0 3px;
        letter-spacing: 2px;

        &:hover {
          color: #ff1493;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  #information {
    #information-container {
      #places,
      #email {
        font-size: 1.25rem;
      }
    }
  }
}