#navbar {
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.05);
  -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.05);
  opacity: 0.95;

  > a {
    margin: 0 1.5rem;
    color: #000;
    text-decoration: underline rgba(0, 0, 0, 0) 3px;
    text-underline-offset: 5px;
    transition: text-decoration-color 400ms;

    &:hover {
      color: #61a4df;
      text-decoration-color: rgba(97, 164, 223, 1);
    }
  }

  #home::before {
    content: "Home";
  }

  #intro::before {
    content: "About";
  }

  #info:before {
    content: "Contact";
  }

  #work::before {
    content: "Work";
  }
}

@media only screen and (max-width: 540px) {
  #navbar {
    justify-content: space-between;

    #home {
      &::before {
        content: "";
      }

      i::before {
        content: "\e88a";
        opacity: 0.6;
      }
    }

    #intro {
      &::before {
        content: "";
      }

      i::before {
        content: "\e88e";
        opacity: 0.6;
      }
    }

    #work {
      &::before {
        content: "";
      }

      i::before {
        content: "\e8f9";
        opacity: 0.6;
      }
    }

    #info {
      &::before {
        content: "";
      }

      i::before {
        content: "\e80d";
        opacity: 0.6;
      }
    }
  }
}