#welcome-section {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #61a4df;
  background: linear-gradient(0deg,#61a4df 0%, #2ab3c3 100%);
  background: -webkit-linear-gradient(0deg,#61a4df 0%, #2ab3c3 100%);
  background: -moz-linear-gradient(0deg,#61a4df 0%, #2ab3c3 100%);
  height: 100vh;
  padding: 0 2rem;

  #text {
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0 0 1rem 0;
      font-family: "Loew Heavy";
      font-size: 75px;
      line-height: 1.15;
    }

    p {
      font-size: 30px;
      font-weight: 100;
      text-transform: uppercase;
      margin: 0;
    }
  }

  #image {
    img {
      width: 250px;
      border-radius: 50%;
    }
  }

  #wave-container {
    .wave {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100px;
      background-image: url("../../assets/img/wave.png");
      background-size: 1000px 100px;
    }

    .wave1 {
      z-index: 1000;
      opacity: 0.2;
      animation-delay: 7s;
      animation: waving-animate 30s linear infinite;
    }

    .wave2 {
      z-index: 999;
      opacity: 0.35;
      animation-delay: 5s;
      animation: waving-animate 15s linear infinite;
      animation-direction: reverse;
    }

    .wave3 {
      z-index: 998;
      opacity: 0.5;
      animation-delay: 0s;
      animation: waving-animate 15s linear infinite;
      bottom: -25px;
    }
  }
}

@keyframes waving-animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@media only screen and (max-width: 720px) {
  #welcome-section {
    flex-direction: column;
    justify-content: center;

    #text {
      order: 2;

      h1 {
        font-size: 50px;
      }
    }

    #image {
      order: 1;
      margin-bottom: 1rem;
    }
  }
}